<!doctype html>
<html>
    <head>
        <title>{{ titre_doc }}</title>
        <meta charset='UTF-8'>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1>{{ titre_page }} - {{ date }}</h1>
        {% if cart is not empty %}
            <table>
                <thead>
                    <tr><th>Name</th>
                    <th>Description</th></tr>
                </thead>
                <tbody>
                    {# afficher les titres et noms des livres #}
                    {% for item in cart|sort %}
                    <tr>
                    <td>
                    <a href="controleur.php?action=detail&id={{item[0].id}}">{{ item[0].name }}</a></td>
                    <td>{{ item[0].description|capitalize }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            Aucun produit dans le panier. 
        {% endif %}
        <a href="controleur.php?action=buy"><button class="btn btn-primary" >Acheter </button></a>
    </body>
</html>