<!doctype html>
<html>
    <head>
        <title>{{ titre_doc }}</title>
        <meta charset='UTF-8'>
    </head>
    <body>
        <h1>{{ titre_page }} - {{ date }}</h1>
        {% if products is not empty %}
            <table>
                <thead>
                    <tr><th>Name</th>
                    <th>Description</th></tr>
                </thead>
                <tbody>
                    {# afficher les titres et noms des livres #}
                    {% for item in products|sort %}
                    <tr>
                    <td><a href="controleur.php?action=detail&id={{item.id}}">{{ item.name }}</a></td>
                    <td>{{ item.description|capitalize }}</td>
                    <td> <a href="controleur.php?action=addToCart&id={{item.id}}"><img src="productimages/btnAddToCart.png" alt="image" /></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            Aucun produits à vendre.
        {% endif %}
    </body>
</html>